<h2>
Upcoming Talks
</h2>
<h3>Code Mash 2020</h3>
<dl>
    <dt>
        <a href="https://www.codemash.org/session-details/?id=144548"  target="_blank">
            You Version Your Code, Why Not Your Database?
        </a>
    </dt>
    <dd>Jan. 10, 2020</dd>
</dl>

<h3>Sunshine PHP</h3>
<dl>
    <dt>
        <a href="https://2020.sunshinephp.com/talks"  target="_blank">
            Add Location-based Searching to Your PHP App with Elasticsearch
        </a>
    </dt>
    <dd>Feb. 7, 2020</dd>
</dl>

<h2>Past Talks</h2>
<h3>DevFest WI</h3>
<dl>
    <dt>
        <a href="https://devfestwi.com/speakers/"  target="_blank">
            What raising 3 kids taught me about working with users
        </a>
    </dt>
    <dd>Sep. 28, 2019</dd>
</dl>

<h3>Day Camp 4 Developers</h3>
<dl>
<dt>
<a href="https://daycamp4developers.com/"  target="_blank">
Taming Your Data with Elasticsearch
</a>
</dt>
<dd>May. 30, 2019</dd>
</dl>

<h3>Nomad PHP</h3>
<dl>
<dt>
<a href="https://nomadphp.com/live"  target="_blank">
Taming Your Data with Elasticsearch
</a>
</dt>
<dd>Apr. 11, 2019</dd>
</dl>
<h3>PHP Benelux</h3>
<dl>
<dt>
<a href="https://joind.in/talk/5cced" target="_blank">
Taming Your Data with Elasticsearch
</a>
</dt>
<dd>
Jan. 25, 2019
</dd>
<dt>
<a href="https://joind.in/talk/25d2b" target="_blank">
What raising 3 kids taught me about working with users 
</a>
</dt>
<dd>
Jan. 25, 2019
</dd>
</dl>

<h3>php[world]</h3>
<dl>
<dt>
<a href="https://world.phparch.com/sessions/browser-automation-testing-with-headless-chrome/" target="_blank">
Browser Automation Testing with Headless Chrome
</a>
</dt>
<dd>
Nov. 14, 2018
</dd>
<dt>
<a href="https://world.phparch.com/sessions/taming-your-data-with-elasticsearch/" target="_blank">
Taming Your Data with Elasticsearch
</a>
</dt>
<dd>
Nov. 15, 2018
</dd>
</dl>

<h3>That Conference</h3>
<dl>
<dt>
<a href="https://www.thatconference.com/sessions/session/12200" target="_blank">
Browser Automation Testing with Headless Chrome
</a>
</dt>
<dd>
Aug. 8, 2018
</dd>
</dl>

<h3>Dutch PHP Conference</h3>
<dl>
<dt>
<a href="https://joind.in/talk/e62ac" target="_blank">
Browser Automation Testing with Headless Chrome
</a>
</dt>
<dd>
June 6, 2018
</dd>
<dt>
<a href="https://joind.in/talk/6cae0" target="_blank">
Modern JavaScript: Moving Beyond jQuery
</a>
</dt>
<dd>
June 10, 2018
</dd>
<dt>
<a href="https://joind.in/talk/3500d" target="_blank">
What raising 3 kids taught me about working with users 
</a>
</dt>
<dd>
June 10, 2018
</dd>
</dl>

<h3>Chippewa Valley Code Camp</h3>
<dl>
<dt>
<a href="https://speakerdeck.com/derekb/five-things-all-developers-should-know-about-databases" target="_blank">
5 Things All Developers Should Know About Databases
</a>
</dt>
<dd>
Nov. 11, 2017
</dd>
</dl>

<h3>Madison PHP 2017</h3>
<dl>
<dt>
<a href="https://joind.in/talk/19ab2" target="_blank">
What Raising 3 Kids Taught Me About Working With Users
</a>
</dt>
<dd>
Sep. 22, 2017
</dd>
</dl>

<h3>Midwest PHP 2017</h3>
<dl>
<dt>
<a href="https://joind.in/talk/9a733" target="_blank">
Modern JavaScript for PHP Developers
</a>
</dt>
<dd>
Mar. 18, 2017
</dd>
</dl>

<h3>Madison PHP 2016</h3>
<dl>
<dt>
<a href="https://joind.in/talk/63d7a" target="_blank">
Modern JavaScript for PHP Developers
</a>
</dt>
<dd>
Oct. 1, 2016
</dd>
</dl>